
:root {
    --color1:hsl(225, 100%, 94%);
    --color2:hsl(245, 75%, 52%);
    --color3:hsl(225, 100%, 98%);
    --color4:hsl(224, 23%, 55%);
    --color5:hsl(223, 47%, 23%);
    --font:'Red Hat Display', sans-serif;;
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: var(--font);
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(..//ordersummary/pattern-background-mobile.svg);
    background-repeat:no-repeat ;
    background-size: 100rem;
}

.container {
    width: 350px;
    margin: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    height: 570px;
    background-color: white;
}

.hero img{
    width: 100%;
}

.order-text {
    text-align: center;
}

.order-text h1 {
    margin: 1.25rem 0;
    font-size: 1.45rem;
    font-weight: 900;
}

.order-text p {
    color: var(--color4);
    padding: 0 1.65rem;
    line-height: 1.5rem;
}

.flex-center {
    display: flex;
    justify-content: center;
}
.content-flex {
    display: flex;
    background-color: var(--color3);
    width: 85%;
    border-radius: .95rem;
    padding: 1.25rem 0rem;
    margin: 1.45rem 0;
}

.section-flex {
    display: flex;
    padding-left: .95rem;
}

.section-flex p {
    padding-left:.95rem ;
    color: var(--color4);
}

.bold {
    font-weight: 700;
    color: black;
}

.text-right {
    text-align: right;
    width: 100%;
    padding-right: .85rem;
    margin-top: .65rem;
}

.text-right a {
    font-size: .95rem;
    color: var(--color2);
    font-weight: 700;
}

.text-right a:hover {
    font-size: .95rem;
    color: hsl(245, 81%, 68%);;
}

.summary-button {
    display: flex;
    justify-content: center;

}
.summary-button button{
    border-style: none;
    width: 85%;
    padding: .85rem;
    border-radius: .65rem;
    background-color: var(--color2);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.summary-button button:hover {
    background-color: hsl(245, 81%, 68%);
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: var(--color3);
    font-weight: 700;
}

.cancel {
    text-align: center;
    margin: 1.45rem 0;
}

.cancel a {
    text-decoration: none;
    color: var(--color4);
    font-weight: 900;
    font-size: .95rem;
}

.cancel a:hover {
   color: var(--color5);
}

@media (min-width:1440px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(..//ordersummary/pattern-background-desktop.svg);
        background-repeat:no-repeat ;
        background-size: 800rem;
        height: 100vh;
    }

    .container {
        width: 450px;
        height: 640px;
    }

    .order-text h1 {
        margin: 1.25rem 0;
        font-size: 1.65rem;
        font-weight: 900;
    }

    .order-text p {
        padding: 0 3rem;
    }

    .text-right a {
        padding-right: .75rem;
    }

    .content-flex {
        width: 80%;
    }

    .summary-button button {
        width: 80%;
        margin-top: .55rem;
    }

    .section-flex {
        margin-left: .55rem;
    }

    .section-flex img {
        width: 40%;
    }

    .summary-button a {
        font-size: .95rem;
    }
}